Repository Trustroots/trustroots, pull requests merged in 2019-02, with the labels that each got.

#1027 Docs: simplify and restructure
  CHANGELOG.md
  README.md
  docs/Accessibility.md
  docs/CNAME
  docs/Copywriting-Getting-Started.md
  docs/Design-Getting-Started.md
  docs/Design-principles.md
  docs/Development-Getting-Started.md
  docs/Development.md
  docs/Install-Docker.md
  docs/Install.md
  docs/Legal-Getting-Started.md
  docs/Photography-Getting-Started.md
  docs/README.md
  docs/Social-Media-Getting-Started.md
  docs/Support-Getting-Started.md
  docs/Volunteer-Chat.md
  docs/Volunteering.md
  docs/index.md
  modules/core/server/views/partials/footer.server.view.html
  modules/pages/client/components/Volunteering.component.js
  modules/pages/client/views/faq-general.client.view.html
  modules/pages/client/views/faq-technology.client.view.html
  modules/pages/client/views/home.client.view.html
Labels: docs

#1034 Docs: improvements to layout
  .gitignore
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/css/style.scss
  docs/favicon.ico
  docs/index.md
Labels: docs

#1015 Eslint: add no-console rule, fix occurances and add docs
  .eslintrc.js
  config/lib/logger.js
  docs/Logging.md
  docs/index.md
  gulpfile.js
  modules/core/server/controllers/analytics.server.controller.js
  modules/core/server/services/email.server.service.js
  modules/core/server/services/error.server.service.js
  modules/messages/server/services/message-to-stats.server.service.js
  modules/offers/server/controllers/offers.server.controller.js
  modules/offers/server/jobs/reactivate-hosts.server.job.js
  modules/sparkpost/server/controllers/sparkpost-webhooks.server.controller.js
  modules/users/server/controllers/users.profile.server.controller.js
  modules/users/server/jobs/user-finish-signup.server.job.js
  modules/users/server/jobs/user-welcome-sequence-first.server.job.js
  modules/users/server/jobs/user-welcome-sequence-second.server.job.js
  modules/users/server/jobs/user-welcome-sequence-third.server.job.js
  worker.js
Labels: build

#968 Add Search users pagination
  config/env/default.js
  config/lib/express.js
  modules/users/server/controllers/users.profile.server.controller.js
  modules/users/tests/server/search-users.server.routes.tests.js
Labels: Module:Search, [Status] ready for review

#1009 Rewrite contact in React
  modules/contacts/client/api/contacts.api.js
  modules/contacts/client/components/Contact.component.js
  modules/contacts/client/components/ContactPresentational.js
  modules/contacts/client/components/RemoveContact.js
  modules/contacts/client/controllers/list-contacts.client.controller.js
  modules/contacts/client/views/list-contacts.client.view.html
  modules/users/client/controllers/profile.client.controller.js
Labels: Module:Contacts, Module:Users, React, [Status] ready for review

#1017 Contact List in React
  modules/contacts/client/components/Contact.js
  modules/contacts/client/components/ContactList.component.js
  modules/contacts/client/components/ContactListPresentational.js
  modules/contacts/client/components/ContactPresentational.js
  modules/users/client/config/users.client.routes.js
  modules/users/client/controllers/profile.client.controller.js
Labels: Module:Contacts, React, [Status] in progress, i18n

#1042 Linting: remove dublicate linting config from `bin/`
  .eslintrc.js
  bin/.eslintrc.js
Labels: build

#1035 Mongoose: add logging for autoindexing and indexing errors
  .eslintrc.js
  bin/db-maintenance/ensure-indexes.js
  config/env/development.js
  config/env/production.js
  config/env/test.js
  config/lib/app.js
  config/lib/mongoose.js
  package.json
Labels: [Status] ready for review, [Type] enhancement

#1023 Offer Location in React
  modules/offers/client/components/OfferLocation.component.js
  modules/offers/client/components/OfferLocationPresentational.js
  modules/offers/client/directives/tr-offer-location.client.directive.js
  modules/offers/client/views/directives/tr-offer-host-view.client.view.html
  modules/offers/client/views/offer-meet-list.client.view.html
  package-lock.json
  package.json
Labels: Module:Offers, React, [Status] ready for review, geo

#1000 User profile basic react
  config/lib/i18n.js
  modules/users/client/components/ProfileViewBasics.component.js
  modules/users/client/components/utils/networks.js
  modules/users/client/views/profile/profile-view-basics.client.view.html
  package-lock.json
  package.json
  public/locales/cze/languages.json
  public/locales/cze/user-profile.json
  public/locales/eng/languages.json
  public/locales/eng/user-profile.json
Labels: Module:Users, React, [Status] ready for review, i18n

#1001 Manual for ES2018 migration
  docs/Async-waterfall-to-async-await.md
  docs/Development.md
  docs/ES2018.md
Labels: [Status] ready for review, docs, framework

#1043 i18n: move to config/client folder
  .eslintrc.js
  config/client/i18n.js
  docs/i18n.md
  modules/contacts/client/components/ContactListPresentational.js
  modules/core/client/components/LanguageSwitch.component.js
  modules/core/client/utils/i18n-angular-load.js
  modules/pages/client/components/Volunteering.component.js
  modules/references/client/components/create-reference/Info.js
  modules/references/client/components/create-reference/Interaction.js
  modules/references/client/components/create-reference/Recommend.js
  modules/references/client/components/create-reference/Report.js
  modules/users/client/components/AboutMe.component.js
  modules/users/client/components/ProfileViewBasics.component.js
Labels: React, i18n

#1050 Travis CI: run only server tests in Node.js 11
  .travis.yml
  package.json
Labels: build

#1047 IETF language codes
  .eslintrc.js
  config/client/i18n-languages.js
  config/client/i18n.js
  modules/core/client/components/LanguageSwitch.component.js
  public/locales/cs/languages.json
  public/locales/cs/reference.json
  public/locales/cs/translation.json
  public/locales/cs/user-profile.json
  public/locales/cs/volunteering.json
  public/locales/en/languages.json
  public/locales/en/translation.json
  public/locales/en/user-profile.json
  public/locales/en/volunteering.json
Labels: [Status] ready for review, i18n

#1026 Migrate Contacts in common to React component
  config/client/i18n.js
  modules/contacts/client/api/contacts.api.js
  modules/contacts/client/components/Contact.js
  modules/contacts/client/components/ContactsCommon.component.js
  modules/contacts/client/directives/tr-contacts-common.client.directive.js
  modules/contacts/client/services/contacts-common-list.client.service.js
  modules/contacts/client/views/directives/tr-contacts-common.client.view.html
  modules/users/client/views/profile/profile-view-about.client.view.html
  public/locales/cs/contact.json
  public/locales/en/contact.json
Labels: Module:Contacts, Module:Users, React

#1051 Fix "dublicate track by id" Angular JS error
  modules/pages/client/views/home.client.view.html
Labels: AngularJS, [Type] Bug

#970 Signup: add field "how did you hear about TR?"
  modules/users/client/views/authentication/signup.client.view.html
  modules/users/server/controllers/users.profile.server.controller.js
  modules/users/server/models/user.server.model.js
  modules/users/tests/server/user-signup.server.routes.tests.js
Labels: [Status] ready for review

#1049 Specify supported locales
  config/client/i18n-languages.js
  config/client/i18n.js
  config/shared/README.md
  config/shared/locales.json
  modules/core/client/components/LanguageSwitch.component.js
  modules/users/server/controllers/users.profile.server.controller.js
  modules/users/tests/server/user-change-locale.server.routes.tests.js
Labels: [Status] ready for review, i18n, server

#1053 Fix location links in ProfileViewBasics
  modules/users/client/components/ProfileViewBasics.component.js
Labels: [Status] ready for review, [Type] Bug

#998 Only update tribes in db after all users have been added during seeding
  bin/fillTestData/Users.js
Labels: build

#957 Interface for selecting an app language
  config/client/i18n.js
  modules/core/client/components/LanguageSwitch.component.js
  modules/core/client/components/LanguageSwitchContainer.js
  modules/core/client/components/LanguageSwitchPresentational.js
  modules/core/client/less/layout/header.less
  modules/core/server/views/partials/header.server.view.html
  modules/users/client/api/users.api.js
  modules/users/client/components/InterfaceLanguagePanel.component.js
  modules/users/client/views/profile/profile-edit-account.client.view.html
  package-lock.json
  package.json
Labels: React, [Status] ready for review, [Type] Design/flow/UI, i18n

#1028 Optimize tribe and message seeding
  bin/fillTestData/Messages.js
  bin/fillTestData/Tribes.js
Labels: [Status] in progress, build

#1041 Update i18n dependencies
  config/client/i18n.js
  docs/i18n-class-components.md
  docs/i18n.md
  modules/contacts/client/components/ContactListPresentational.js
  modules/contacts/client/components/ContactPresentational.js
  modules/contacts/client/components/ContactsCommon.component.js
  modules/contacts/client/components/RemoveContact.js
  modules/core/client/utils/i18n-angular-load.js
  modules/pages/client/components/Volunteering.component.js
  modules/references/client/components/CreateReference.component.js
  modules/references/client/components/create-reference/Info.js
  modules/references/client/components/create-reference/Interaction.js
  modules/references/client/components/create-reference/Navigation.js
  modules/references/client/components/create-reference/Recommend.js
  modules/references/client/components/create-reference/Report.js
  modules/users/client/components/AboutMe.component.js
  modules/users/client/components/Avatar.component.js
  modules/users/client/components/InterfaceLanguagePanel.component.js
  modules/users/client/components/ProfileViewBasics.component.js
  package-lock.json
  package.json
Labels: [Status] ready for review, good first issue, i18n
