Repository Trustroots/trustroots, pull requests merged in 2019-12, with the labels that each got.

#1058 Migrate avatar, name, tagline in Overview for small screens to React
  modules/users/client/components/AvatarNameMobile.component.js
  modules/users/client/views/profile/profile-view-basics.client.view.html
Labels: Module:Users, React, [Status] ready for review

#1138 Fix script test:server:watch to watch again
  gulpfile.js
Labels: [Status] ready for review, [Type] Bug, server, tests

#1135 Tribes react suggest tribe
  modules/tribes/client/components/SuggestTribe.component.js
  modules/tribes/client/views/tribes-list.client.view.html
Labels: Module:Tribes, React, [Status] ready for review

#1137 Header for Tribes List
  modules/core/client/components/Board.js
  modules/core/client/controllers/app.client.controller.js
  modules/tribes/client/components/TribesHeader.component.js
  modules/tribes/client/controllers/tribes-list.client.controller.js
  modules/tribes/client/views/tribes-list.client.view.html
Labels: Module:Tribes, React, [Status] ready for review

#1123 Migrate tribe's JoinButton to React
  modules/tribes/client/api/tribes.api.js
  modules/tribes/client/components/JoinButton.component.js
  modules/tribes/client/components/LeaveTribeModal.js
  modules/tribes/client/controllers/tribes-list.client.controller.js
  modules/tribes/client/views/tribes-list.client.view.html
Labels: Module:Tribes, React, [Status] ready for review

#1151 Run npm audit fix
  package-lock.json
Labels: security

#1154 Update dependencies
  package-lock.json
  package.json
Labels: build
