Repository Trustroots/trustroots, pull requests merged in 2019-05, with the labels that each got.

#1071 Remove meta links
  docs/Support-Getting-Started.md
  docs/Volunteering.md
  docs/index.md
Labels: docs

#1073 Really remove meta links
  docs/Volunteering.md
  docs/index.md
  modules/pages/client/views/team.client.view.html
Labels: docs

#960 Admin search users
  .eslintrc.js
  config/lib/express.js
  config/webpack/webpack.config.js
  modules/admin/client/admin.client.module.js
  modules/admin/client/api/users.api.js
  modules/admin/client/components/Admin.component.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/AdminSearchUsers.component.js
  modules/admin/client/components/AdminUser.component.js
  modules/admin/client/components/UserState.component.js
  modules/admin/client/components/ZendeskInboxSearch.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/client/images/bmo-dancing.gif
  modules/admin/client/images/bmo.png
  modules/admin/client/images/zendesk-inbox.svg
  modules/admin/client/less/admin.less
  modules/admin/server/controllers/admin.users.server.controller.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.user.server.routes.tests.js
  modules/core/client/app/init.js
  modules/core/client/controllers/app.client.controller.js
  package-lock.json
  package.json
Labels: React, admin

#1076 Admin messages -support tool
  modules/admin/client/api/messages.api.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/AdminMessages.component.js
  modules/admin/client/components/AdminSearchUsers.component.js
  modules/admin/client/components/AdminUser.component.js
  modules/admin/client/components/UserLink.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/server/controllers/admin.messages.server.controller.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.messages.server.routes.tests.js
  modules/admin/tests/server/admin.users.server.routes.tests.js
  modules/messages/server/controllers/messages.server.controller.js
Labels: admin

#1077 Admin: add audit log
  modules/admin/client/api/audit-log.api.js
  modules/admin/client/components/AdminAuditLog.component.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/UserLink.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/server/controllers/admin.audit-log.server.controller.js
  modules/admin/server/models/audit-log.server.model.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.audit-log.server.routes.tests.js
  testutils/data.server.testutils.js
Labels: admin

#1078 Admin: hide tokens in profile
  modules/admin/server/controllers/admin.users.server.controller.js
Labels: admin

#1083 Centralize React map layer config to a component
  config/env/local.sample.js
  modules/core/client/components/MapLayers.component.js
  modules/offers/client/components/OfferLocationPresentational.js
Labels: geo

#1085 Generalize uploader helper
  .eslintrc.js
  config/lib/multer.js
  modules/core/server/services/file-upload.service.js
  modules/users/server/controllers/users.profile.server.controller.js
  modules/users/tests/server/user-profile.server.routes.tests.js
Labels: Module:Users, [Type] enhancement

#1087 Update dependencies
  package-lock.json
  package.json
Labels: build

#1089 Update dependencies and add Husky
  package-lock.json
  package.json
Labels: build
