Repository Trustroots/trustroots, pull requests merged in 2020-11, with the labels that each got.

#1798 tribes -> circles: rename i18n file
  modules/tribes/client/components/JoinButton.js
  modules/tribes/client/components/LeaveTribeModal.js
  modules/tribes/client/components/SuggestTribe.js
  modules/tribes/client/components/Tribe.js
  modules/tribes/client/components/TribesHeader.js
  modules/tribes/client/components/TribesJoinTrustroots.js
  public/locales/en/circles.json
Labels: i18n

#1764 Update/stats images
  modules/statistics/client/views/statistics.client.view.html
Labels: statistics

#1868 Fix test warnings & errors
  modules/messages/tests/client/components/UnreadCount.component.tests.js
  modules/references/client/components/CreateReference.component.js
  package-lock.json
  package.json
Labels: tests
