Repository Trustroots/trustroots, pull requests merged in 2020-03, with the labels that each got.

#1190 Generate fake test data
  modules/tribes/tests/client/components/TribesPage.component.tests.js
  testutils/client/data.client.testutil.js
  testutils/common/data.common.testutil.js
Labels: tests

#1266 Automated deployments to dev site
  .gitignore
  .travis.yml
  deploy/debops/deploy
  deploy/debops/files/id_ed25519_trustroots_deploy_2020-03-02.enc
  package.json
Labels: build

#1292 Change all occurences of `withTranslation` to `useTranslation`
  docs/i18n-class-components.md
  docs/i18n.md
  modules/contacts/client/components/ContactListPresentational.js
  modules/contacts/client/components/ContactPresentational.js
  modules/contacts/client/components/ContactsCommon.component.js
  modules/core/client/utils/i18n-angular-load.js
  modules/references/client/components/CreateReference.component.js
  modules/references/client/components/create-reference/Info.js
  modules/references/client/components/create-reference/Interaction.js
  modules/references/client/components/create-reference/Navigation.js
  modules/references/client/components/create-reference/Recommend.js
  modules/references/client/components/create-reference/Report.js
  modules/users/client/components/Avatar.component.js
  modules/users/client/components/BottomNavigationSmall.component.js
  modules/users/client/components/InterfaceLanguagePanel.component.js
  modules/users/client/components/ProfileViewBasics.js
Labels: React, i18n

#1294 Disable runtime extraction of translations
  config/client/i18n.js
Labels: i18n

#1062 Top user profile navigation for small screens - migrate to React
  modules/users/client/components/TopNavigationSmall.component.js
  modules/users/client/controllers/profile.client.controller.js
  modules/users/client/views/profile/profile-view.client.view.html
Labels: Module:Users, React, [Status] ready for review, i18n

#1293 Fix i18n extraction bugs
  modules/contacts/client/components/ContactPresentational.js
  modules/references/client/components/create-reference/Info.js
  modules/tribes/client/components/JoinButton.js
  modules/users/client/components/Activate.js
  modules/users/client/components/ProfileViewBasics.js
Labels: [Status] ready for review, [Type] Bug, i18n

#1156 Refactor OfferLocation React map
  config/lib/express.js
  modules/core/client/components/Map/index.js
  modules/core/client/components/Map/map.less
  modules/core/client/components/Map/osm.json
  modules/core/client/components/MapLayers.component.js
  modules/core/client/less/global-variables.less
  modules/core/client/less/modules/leaflet.less
  modules/core/server/views/layout.server.view.html
  modules/offers/client/components/OfferLocation.component.js
  modules/offers/client/components/OfferLocationOverlay.js
  modules/offers/client/components/OfferLocationPresentational.js
  modules/offers/client/utils/markers.js
  modules/offers/client/views/directives/tr-offer-host-view.client.view.html
  modules/offers/client/views/offer-meet-list.client.view.html
  modules/search/client/less/sidebar-toggle.less
  modules/search/client/less/sidebar.less
  modules/search/client/less/variables.less
  package-lock.json
  package.json
  public/locales/en/languages.json
  renovate.json
Labels: React, [Status] ready for review, framework, geo

#1196 added "How to report a member" question to FAQ
  modules/pages/client/views/faq-general.client.view.html
  modules/pages/client/views/faq.client.view.html
Labels: texts

#1306 Eslint: no-duplicate-imports
  .eslintrc.js
  modules/support/client/config/support.client.routes.js
  modules/tribes/tests/client/components/TribesPage.component.tests.js
Labels: [Status] ready for review, build

#1305 Refactor SearchUsers component
  modules/search/client/components/SearchUsers.component.js
  modules/search/client/components/UsersResults.js
Labels: Module:Search, React, [Status] ready for review

#1310 Admin search: add date to listing
  modules/admin/client/components/AdminSearchUsers.component.js
  modules/admin/server/controllers/admin.users.server.controller.js
  modules/admin/tests/server/admin.users.server.routes.tests.js
Labels: [Status] ready for review, admin

#1291 Use babel-plugin-i18next-extract to extract translations
  babel.config.js
  docs/i18n.md
  package-lock.json
  package.json
Labels: [Status] ready for review, i18n

#1312 Revert #1056 - Remove endpoint for runtime extraction of missing translations
  config/client/i18n.js
  config/env/default.js
  config/env/development.js
  modules/i18n/server/controllers/backend.server.controller.js
  modules/i18n/server/routes/backend.server.routes.js
  modules/i18n/tests/server/backend.server.routes.tests.js
  package-lock.json
  package.json
Labels: [Status] ready for review, i18n

#1307 Add admin threads tool
  modules/admin/client/api/threads.api.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/AdminMessages.component.js
  modules/admin/client/components/AdminThreads.component.js
  modules/admin/client/components/AdminUser.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/server/controllers/admin.threads.server.controller.js
  modules/admin/server/controllers/admin.users.server.controller.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.threads.server.routes.tests.js
Labels: [Status] ready for review, admin
