Repository Trustroots/trustroots, pull requests merged in 2020-10, with the labels that each got.

#1731 added links
  README.md
Labels: docs

#1697 Experiences: fix sorting by creation date
  modules/references/client/api/references.api.js
  modules/references/client/components/ListReferences.component.js
  modules/references/server/controllers/reference.server.controller.js
Labels: Module:References

#1738 Use local circle images
  .gitignore
  bin/generate-circle-images.js
  config/env/default.js
  docs/Circles.md
  modules/core/client/utils/dom.js
  modules/core/server/views/layout.server.view.html
  modules/pages/client/components/Home.component.js
  modules/tribes/client/components/Tribe.js
  modules/tribes/client/components/helpers/getTribeBackgroundStyle.js
  modules/tribes/client/directives/tr-tribe-styles.client.directive.js
  modules/tribes/client/utils/index.js
  modules/tribes/client/views/directives/tr-tribe-badge.client.view.html
  modules/tribes/client/views/tribe.client.view.html
  modules/tribes/server/controllers/tribes.server.controller.js
  modules/tribes/server/models/tribe.server.model.js
  modules/tribes/tests/server/tribes.server.routes.tests.js
  modules/users/client/views/authentication/signup.client.view.html
  package-lock.json
  package.json
  testutils/common/data.common.testutil.js
Labels: Module:Tribes/Circles
