Repository Trustroots/trustroots, pull requests merged in 2020-08, with the labels that each got.

#1609 Fix user link in message thread on small screen
  modules/messages/client/components/ThreadMessages.js
Labels: Module:Messages, [Status] ready for review, [Type] Bug

#1610 Messages: fix reply button covering text
  modules/messages/client/less/thread.less
Labels: Module:Messages, [Type] Bug

#1572 Rename Tribes to Circles in UI and URLs
  bin/admin/dbConsistency.js
  bin/fillTestData/Messages.js
  bin/fillTestData/Tribes.js
  modules/core/client/fonts/fontello/demo.html
  modules/core/server/routes/core.server.routes.js
  modules/core/server/views/layout.server.view.html
  modules/core/server/views/partials/header.server.view.html
  modules/core/tests/server/core.server.config.tests.js
  modules/pages/client/components/Faq.component.js
  modules/pages/client/components/FaqGeneral.component.js
  modules/pages/client/components/FaqTribes.component.js
  modules/pages/client/components/Home.component.js
  modules/pages/client/components/Navigation.component.js
  modules/pages/client/config/pages.client.routes.js
  modules/search/client/views/directives/tr-my-tribes-toggle.client.view.html
  modules/search/client/views/search-sidebar-filters.client.view.html
  modules/tribes/client/components/LeaveTribeModal.js
  modules/tribes/client/components/SuggestTribe.js
  modules/tribes/client/components/Tribe.js
  modules/tribes/client/components/TribesHeader.js
  modules/tribes/client/components/TribesJoinTrustroots.js
  modules/tribes/client/config/tribes.client.routes.js
  modules/tribes/client/controllers/tribe.client.controller.js
  modules/tribes/client/directives/tr-tribe-join-button.client.directive.js
  modules/tribes/client/views/directives/tr-tribe-join-button.client.view.html
  modules/tribes/client/views/directives/tr-tribes-in-common.client.view.html
  modules/tribes/client/views/tribe.client.view.html
  modules/tribes/tests/client/components/TribesPage.component.tests.js
  modules/users/client/views/authentication/signup.client.view.html
  modules/users/client/views/directives/tr-memberships-list.client.view.html
  modules/users/client/views/profile/profile-view-about.client.view.html
  modules/users/client/views/profile/profile-view-tribes.client.view.html
Labels: [Status] ready for review

#1611 Dynamic team page and move board to foundation page
  modules/admin/client/components/AdminUser.component.js
  modules/admin/server/controllers/admin.users.server.controller.js
  modules/core/server/views/partials/footer.server.view.html
  modules/core/server/views/partials/header.server.view.html
  modules/pages/client/api/volunteers.api.js
  modules/pages/client/components/FaqFoundation.component.js
  modules/pages/client/components/Foundation.component.js
  modules/pages/client/components/Team.component.js
  modules/pages/client/components/Volunteering.component.js
  modules/pages/client/config/pages.client.routes.js
  modules/pages/client/less/team.less
  modules/pages/server/controllers/pages.volunteers.server.controller.js
  modules/pages/server/routes/admin.server.routes.js
  modules/users/server/models/user.server.model.js
Labels: [Status] ready for review, texts

#1615 Circles: update "new tribe" text to "new circle"
  modules/tribes/client/components/Tribe.js
Labels: Module:Tribes/Circles

#1431 Docker compose update
  .dockerignore
  Dockerfile
  config/env/local.docker.js
  docker-compose.yml
  docs/Install-Docker.md
Labels: [Status] ready for review

#1616 Messages: don't attempt to read unread notification count as unconfirmed user
  modules/messages/client/services/unread-message-count.client.service.js
Labels: Module:Users, [Type] Bug

#1617 Signup: warn about used email
  modules/users/client/controllers/signup.client.controller.js
  modules/users/client/views/authentication/signup.client.view.html
  modules/users/server/models/user.server.model.js
Labels: Module:Users, [Type] enhancement

#1620 Foundation: but back images for non-authenticated users
  modules/pages/client/components/Foundation.component.js
  public/img/team-kasper.jpg
Labels: [Type] Bug

#1651 Fix ReactRefreshWebpackPlugin
  config/webpack/webpack.config.js
Labels: [Type] Bug, build

#1614 added dummy component that gets loaded when we try to list references…
  modules/references/client/components/ListReferences.component.js
  modules/users/client/config/users.client.routes.js
Labels: Module:References

#1654 contacts_plural was in the string
  public/locales/en/contacts.json
Labels: Module:Contacts, [Type] Bug

#1653 Hide the background image of the footer on the home page on small screens
  modules/core/client/components/Board.js
  modules/core/client/less/layout/board.less
  modules/pages/client/components/Home.component.js
  modules/pages/client/less/home.less
Labels: [Status] ready for review

#1662 References: basic listing
  modules/core/server/views/email-templates-text/reference-notification-first.server.view.html
  modules/core/server/views/email-templates/reference-notification-first.server.view.html
  modules/references/client/api/references.api.js
  modules/references/client/components/CreateReference.component.js
  modules/references/client/components/ListReferences.component.js
  modules/references/client/components/create-reference/Info.js
  modules/references/client/components/create-reference/Recommend.js
  modules/references/client/components/read-references/NonpublicReference.js
  modules/references/client/components/read-references/PublicReference.js
  modules/references/client/components/read-references/Reference.js
  modules/references/client/components/read-references/ReferencesReadPresentational.js
  modules/references/tests/client/components/CreateReference.client.component.tests.js
  modules/users/client/components/UserLink.js
  modules/users/client/config/users.client.routes.js
  modules/users/client/views/profile/profile-view.client.view.html
Labels: Module:References

#1665 References: tiny bit refactoring
  modules/references/client/components/CreateReference.component.js
  modules/references/client/components/ListReferences.component.js
  modules/references/client/components/create-reference/DuplicateInfo.js
  modules/references/client/components/create-reference/Feedback.js
  modules/references/client/components/create-reference/ReferenceToSelfInfo.js
  modules/references/client/components/create-reference/SubmittedInfo.js
  modules/references/client/components/read-references/PendingReference.js
  modules/references/client/components/read-references/PublicReference.js
  modules/references/client/components/read-references/Reference.js
  modules/references/client/components/read-references/ReferenceCounts.js
  modules/references/client/components/read-references/ReferencesReadPresentational.js
  modules/users/client/config/users.client.routes.js
Labels: Module:References

#1666 References list: work on visual appearance
  modules/references/client/components/ListReferences.component.js
  modules/references/client/components/create-reference/SubmittedInfo.js
  modules/references/client/components/read-references/PendingReference.js
  modules/references/client/components/read-references/PublicReference.js
  modules/references/client/components/read-references/Recommendation.js
  modules/references/client/components/read-references/Reference.js
  modules/references/client/components/read-references/ReferenceCounts.js
  modules/references/server/controllers/reference.server.controller.js
  modules/references/tests/server/reference-read-many.server.routes.tests.js
  modules/references/tests/server/reference-read-one.server.routes.tests.js
Labels: Module:References
