Repository Trustroots/trustroots, pull requests merged in 2020-02, with the labels that each got.

#1162 Member search: split into separate reusable components
  modules/contacts/client/components/ContactList.component.js
  modules/core/client/components/LoadingIndicator.js
  modules/core/client/components/NoContent.js
  modules/search/client/components/SearchUsers.component.js
  modules/search/client/components/UsersList.js
  modules/search/client/components/UsersResults.js
  modules/users/client/components/UserSummary.js
  modules/users/client/components/UsersList.js
Labels: React, [Status] ready for review

#1056 Create endpoint for saving missing translations
  config/client/i18n.js
  config/env/default.js
  config/env/development.js
  modules/i18n/server/controllers/backend.server.controller.js
  modules/i18n/server/routes/backend.server.routes.js
  modules/i18n/tests/server/backend.server.routes.tests.js
  package-lock.json
  package.json
  public/locales/cs/tribes.json
  public/locales/en/tribes.json
Labels: i18n

#1203 Remove outdated docs/Database.md
  docs/Database.md
  docs/index.md
Labels: docs

#1193 Changed individuals' contact to support email addr to join Slack chat.
  docs/Chat.md
Labels: docs

#1225 Schedule Renovate run only on weekends
  renovate.json
Labels: [Status] ready for review

#1227 Renovate: group related packages into one
  renovate.json
Labels: [Status] ready for review

#1254 Optimize renovate.json for less CI and notifications noise
  renovate.json
Labels: [Status] ready for review

#1169 React tests for Tribes
  modules/tribes/tests/client/components/TribesPage.component.tests.js
Labels: Module:Tribes, React, [Status] ready for review, tests
