Repository Trustroots/trustroots, pull requests merged in 2021-02, with the labels that each got.

#1329 Migrate Search map to React
  .eslintrc.js
  config/lib/express.js
  config/webpack/webpack.shims.js
  modules/core/client/components/Map/MapIcon.js
  modules/core/client/components/Map/MapNavigationControl.js
  modules/core/client/components/Map/MapScaleControl.js
  modules/core/client/components/Map/MapStyleButton.js
  modules/core/client/components/Map/MapStyleControl.js
  modules/core/client/components/Map/constants.js
  modules/core/client/components/Map/index.js
  modules/core/client/components/Map/map-navigation-control.less
  modules/core/client/components/Map/map-scale-control.less
  modules/core/client/components/Map/map-style-control.less
  modules/core/client/components/Map/map.less
  modules/core/client/components/Map/osm.json
  modules/core/client/components/NoContent.js
  modules/core/client/less/global-variables.less
  modules/core/client/services/location.client.service.js
  modules/core/client/utils/constants.js
  modules/core/client/utils/map.js
  modules/offers/client/api/offers.api.js
  modules/offers/server/controllers/offers.server.controller.js
  modules/offers/tests/server/offer-search.server.routes.tests.js
  modules/search/client/components/SearchMap.component.js
  modules/search/client/components/SearchMapNoContent.js
  modules/search/client/components/constants.js
  modules/search/client/components/layers.js
  modules/search/client/controllers/search-map.client.controller.js
  modules/search/client/controllers/search.client.controller.js
  modules/search/client/hooks/use-persistent-map-location.js
  modules/search/client/hooks/use-persistent-map-style.js
  modules/search/client/less/cluster.less
  modules/search/client/less/map.less
  modules/search/client/less/search-meta.less
  modules/search/client/less/search-place.less
  modules/search/client/less/search.less
  modules/search/client/less/sidebar.less
  modules/search/client/search.client.module.js
  modules/search/client/services/search-map.client.service.js
  modules/search/client/utils/index.js
  modules/search/client/views/search-map.client.view.html
  modules/search/client/views/search-sidebar-results.client.view.html
  modules/search/client/views/search.client.view.html
  package-lock.json
  package.json
Labels: Module:Search, React, [Status] ready for review

#2081 Update/deps feb 2021
  package-lock.json
  package.json
Labels: build

#2031 Writing "response" experience with limited choice after the "initial" experience went public
  modules/references/client/api/references.api.js
  modules/references/client/components/CreateExperience.component.js
  modules/references/server/controllers/reference.server.controller.js
  modules/references/tests/client/components/CreateExperience.client.component.tests.js
  modules/references/tests/server/reference-read-mine.server.routes.tests.js
Labels: Module:Experiences, [Status] in progress, [Type] enhancement

#2086 Homepage: accommodate cyclists circle on landing page
  modules/core/client/services/photos.service.js
  modules/pages/client/components/Home.component.js
  modules/pages/client/config/pages.client.routes.js
  public/img/board/cyclist--mobile.jpg
  public/img/board/cyclist.jpg
Labels: [Status] ready for review

#2088 Circle page: fix bug of linking to signup form without circle slug
  modules/tribes/client/views/tribe.client.view.html
Labels: [Type] Bug

#2090 Fix: experience deep link in the list points to "references"
  modules/references/client/components/read-experiences/Experience.js
Labels: Module:Experiences, [Type] Bug

#2093 Media: stop translating date literals
  modules/pages/client/components/Media.component.js
Labels: [Status] ready for review, i18n

#2091 Experiences: add nicer summary
  modules/core/client/components/Icon.js
  modules/references/client/components/ListExperiences.component.js
  modules/references/client/components/read-experiences/ExperienceCounts.js
  modules/references/client/components/read-experiences/ExperiencesSection.js
  public/locales/en/references.json
Labels: Module:Experiences, [Status] ready for review

#1986 Add newsletter export admin tool
  bin/export-newsletter-subscribers.js
  docs/Newsletter.md
  modules/admin/client/components/Admin.component.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/AdminNewsletter.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/server/controllers/admin.newsletter.server.controller.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.newsletter.server.routes.tests.js
Labels: admin

#2118 Tools: add script to export circle members
  bin/export-circle-members.js
Labels: admin

#2112 Rename hostedMe/hostedThem to guest/host
  bin/fillTestData/Experiences.js
  modules/experiences/client/components/CreateExperience.component.js
  modules/experiences/client/components/create-experience/Interaction.js
  modules/experiences/client/components/create-experience/Recommend.js
  modules/experiences/client/components/read-experiences/ExperienceCounts.js
  modules/experiences/client/components/read-experiences/Meta.js
  modules/experiences/client/experiences.prop-types.js
  modules/experiences/server/controllers/experiences.server.controller.js
  modules/experiences/server/models/experiences.server.model.js
  modules/experiences/tests/client/components/CreateExperience.client.component.tests.js
  modules/experiences/tests/server/experience-create.server.routes.tests.js
  modules/experiences/tests/server/experience-read-many.server.routes.tests.js
  modules/experiences/tests/server/experience-read-mine.server.routes.tests.js
  modules/experiences/tests/server/experience-read-one.server.routes.tests.js
  modules/experiences/tests/server/experience.server.jobs.tests.js
  modules/experiences/tests/server/experience.server.model.tests.js
  testutils/common/data.common.testutil.js
Labels: Module:Experiences, [Status] ready for review

#633 Fix showing messages from deleted users
  modules/messages/client/components/InboxThread.js
  modules/messages/client/components/Thread.component.js
  modules/messages/client/components/ThreadMessage.js
  modules/messages/client/components/ThreadMessages.js
  modules/messages/client/config/messages.client.routes.js
  modules/messages/server/controllers/messages.server.controller.js
  modules/messages/tests/server/message.server.routes.tests.js
Labels: Module:Messages, [Priority] High, [Status] in progress, [Type] Bug
