Repository Trustroots/trustroots, pull requests merged in 2021-01, with the labels that each got.

#1860 Make pending experiences you shared with someone visible for you in their profile
  modules/references/client/components/ListReferences.component.js
  modules/references/client/components/read-references/Reference.js
  modules/references/server/controllers/reference.server.controller.js
  modules/references/tests/server/reference-read-many.server.routes.tests.js
Labels: Module:Experiences, [Status] ready for review

#1996 references -> experiences: rename api client code and jsdocs
  modules/references/client/api/references.api.js
Labels: Module:Experiences, [Status] ready for review

#1997 references -> experiences: react components
  modules/references/client/components/CreateExperience.component.js
  modules/references/client/components/ListExperiences.component.js
  modules/references/client/components/create-experience/DuplicateInfo.js
  modules/references/client/components/create-experience/ExperienceWithSelfInfo.js
  modules/references/client/components/create-experience/Feedback.js
  modules/references/client/components/create-experience/Interaction.js
  modules/references/client/components/create-experience/Recommend.js
  modules/references/client/components/create-experience/Report.js
  modules/references/client/components/create-experience/SubmittedInfo.js
  modules/references/client/components/read-experiences/Experience.js
  modules/references/client/components/read-experiences/ExperienceCounts.js
  modules/references/client/components/read-experiences/ExperiencesSection.js
  modules/references/client/components/read-experiences/Meta.js
  modules/references/tests/client/components/CreateExperience.client.component.tests.js
  modules/users/client/config/users.client.routes.js
Labels: Module:Experiences, [Status] ready for review

#1992 Docs: mention Prettier on install docs
  docs/Install.md
Labels: docs

#1981 Admin: list reference threads
  modules/admin/client/api/admin-reference-threads.api.js
  modules/admin/client/components/AdminHeader.component.js
  modules/admin/client/components/AdminReferenceThreads.component.js
  modules/admin/client/config/admin.client.routes.js
  modules/admin/server/controllers/admin.reference-threads.server.controller.js
  modules/admin/server/policies/admin.server.policy.js
  modules/admin/server/routes/admin.server.routes.js
  modules/admin/tests/server/admin.reference-threads.server.routes.tests.js
  testutils/server/data.server.testutil.js
Labels: [Status] ready for review, admin

#2008 Admin reference threads: fix listing when there are deleted users
  modules/admin/client/components/AdminReferenceThreads.component.js
Labels: [Type] Bug, admin

#2012 Build: add bundle analyzer
  config/env/default.js
  config/webpack/webpack.config.js
  docs/Install.md
  package-lock.json
  package.json
Labels: build

#2009 Experiences: update copy for "no references"
  modules/core/client/components/NoContent.js
  modules/references/client/components/ListExperiences.component.js
Labels: Module:Experiences

#1994 Support form: convert to React
  modules/support/client/api/support.api.js
  modules/support/client/components/SupportForm.js
  modules/support/client/components/SupportPage.component.js
  modules/support/client/config/support.client.routes.js
  modules/support/client/controllers/support.client.controller.js
  modules/support/client/hooks/use-persistent-support-message.js
  modules/support/client/services/support.client.service.js
  modules/support/client/support.client.module.js
  modules/support/client/views/support.client.view.html
  modules/support/tests/client/support.client.routes.tests.js
  package-lock.json
  package.json
Labels: React, [Status] ready for review

#1959 Statistics: rewrite in React
  modules/statistics/client/api/statistics.api.js
  modules/statistics/client/components/Stat.js
  modules/statistics/client/components/Statistics.component.js
  modules/statistics/client/config/statistics.client.routes.js
  modules/statistics/client/controllers/statistics.client.controller.js
  modules/statistics/client/less/statistics.less
  modules/statistics/client/services/statistics.client.service.js
  modules/statistics/client/statistics.client.module.js
  modules/statistics/client/views/statistics.client.view.html
  modules/statistics/server/controllers/statistics.server.controller.js
  modules/statistics/tests/client/statistics.client.routes.tests.js
  modules/statistics/tests/server/statistics.server.routes.tests.js
  modules/users/client/components/ProfileViewBasics.js
  modules/users/client/utils/networks.js
  testutils/common/data.common.testutil.js
Labels: React, [Status] ready for review, statistics

#2032 Add prompt to share response under public experiences on the logged-in user's page
  modules/references/client/components/ListExperiences.component.js
  modules/references/client/components/read-experiences/Experience.js
  modules/references/client/components/read-experiences/ExperiencesSection.js
Labels: Module:Experiences, [Status] ready for review, [Type] enhancement

#2050 references -> experiences: server code
  modules/references/server/controllers/reference.server.controller.js
  modules/references/server/jobs/references-publish.server.job.js
  modules/references/server/routes/reference.server.routes.js
  modules/references/tests/server/reference-read-one.server.routes.tests.js
Labels: Module:Experiences

#2064 Mobile navigation: add "find people"
  modules/pages/client/components/Navigation.component.js
Labels: [Type] enhancement, mobile

#2048 Tests: stabilize & expand support request tests
  modules/support/tests/server/support.server.routes.tests.js
Labels: [Status] ready for review, tests
